<div class="modal-header">
  <h4 class="modal-title">Add User</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeHandler()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form [formGroup]="newUserForm">
    <div class="form-group">
      <input id="firstName" class="form-control" placeholder="First Name" autocomplete="off" formControlName="firstName">
      <input id="lastName" class="form-control" placeholder="Last Name" autocomplete="off" formControlName="lastName">
      <input id="company" class="form-control" placeholder="Company" autocomplete="off" formControlName="company">
      <input id="email" class="form-control" placeholder="Email" autocomplete="off" formControlName="email">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="addHandler()">Add</button>
  <button type="button" class="btn btn-light" (click)="closeHandler()">Close</button>
</div>
